.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
.github/instructions

# dev
plugins/
data/
backend/comfy/
backend/*7z
backend/*yaml
backend/redistribute
backend/workflow/

# venv
backend/node/pixorabridge/venv/

.gocache/

.env